

$black: #000000;
$white: #ffffff;


$black1:#333333;

 
$primary-color:#0E218F;
$ivory:#F4C759;
$light_yellow:#FFF1D0;
$light_yellow1:#F4C859;
$light_yellow2:#DFBD69;

$gray:#AFAFB2;
$light_gray:#F9F6F0;
$light_gray1:#F5F6FB; 
$light_gray2:#666666; 
$light_gray3:#EEEFF5; 
$light_gray4:#D9D9D9; 
$light_gray5:#969696; 
$light_gray6:#E1E1E1; 
$light_gray7:#DFE2EE; 
$light_gray8:#ADB2D4; 
$light_gray9:#999999; 

$blue: #0B1861;
$blue1: #142063;
$light-blue: #F3F4FB;

$red:#DC3027;
$red1:#E73625;