
@import "main";
.section-heading{
    @include rem-fallback(margin-bottom,40);
    .section-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include rem-fallback(margin-bottom,15);
        @include bp(xs-max){
            flex-direction: column;
            align-items: flex-start;
        }
        .btn{
            @include bp(xs-max){
                position: absolute;
                bottom: 30px;
                left: 50%;
                transform:translateX(-50%)
            }
        }
    }
    .sub-text{
        @include rem-fallback(font-size,24);
        @include bp(xs-max){
            @include rem-fallback(font-size,20);
            
        }
        
    }
}

