<div class="landing-page">
    <div class="container">
        <div class="landing_logo"> <img src="../../../../assets/images/natur_global_capital_ltd_logo_white.svg"> </div>
        <div class="landing-heading">
            <h1>
                Empowering Solutions, Inspiring Growth. Your Success, Our Mission.
            </h1>
            <p>Explore our websites to know our vision</p>
        </div>
        <div class="card-wrap">
            <div class="card-inner">
                <a href="#" title=" Natur Global Solutions" class="card">
                    <div class="card-wrap-inner">
                        <div class="card-image">
                            <img src="../../../../assets/images/nature_global_solutions_logo_dark.svg">
                        </div>
                        <div class="card-content">
                            <h2>
                                Natur Global Solutions
                            </h2>
                            <p>Makes interchanging of documents such as orders, dispatch advices, invoices, receiving
                                advices, etc easy and fast.</p>
                        </div>
                        <div class="card-action">
                            <span><img src="../../../../assets/images/up_arrow.svg"> </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="card-inner">
                <a href="#" title=" Natur Global Constuctions" class="card">
                    <div class="card-wrap-inner">
                        <div class="card-image">
                            <img src="../../../../assets/images/nature_global_constractions_logo_dark.svg">
                        </div>
                        <div class="card-content">
                            <h2>
                                Natur Global Constuctions
                            </h2>
                            <p>Makes interchanging of documents such as orders, dispatch advices, invoices, receiving
                                advices, etc easy and fast.</p>
                        </div>
                        <div class="card-action">
                            <span><img src="../../../../assets/images/up_arrow.svg"> </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="bottom-footer">
                <div class="footer-wrap1">
                    <div class="language-select "><i><img src="../../../../assets/images/united_states.svg"
                                alt="united_states"> </i> United States (English)</div>
                    <ul class="social-link">
                        <li><a href="#" title="Facebook"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_1_5982)">
                                        <path
                                            d="M20.9455 0H3.05455C2.24443 0 1.46749 0.321817 0.894656 0.894656C0.321817 1.46749 0 2.24443 0 3.05455V20.9455C0 21.7556 0.321817 22.5325 0.894656 23.1053C1.46749 23.6782 2.24443 24 3.05455 24H11.8184V14.014H9.82118V10.0197H11.8018V8.21455C11.8018 6.5808 12.5801 4.0284 16.0051 4.0284L19.0904 4.04078V7.46302H16.8498C16.4855 7.46302 15.9671 7.64444 15.9671 8.42258V10.0199H19.1414L18.777 14.0143H15.8127V24H20.9455C21.3466 24 21.7438 23.921 22.1144 23.7675C22.485 23.614 22.8217 23.389 23.1053 23.1053C23.389 22.8217 23.614 22.485 23.7675 22.1144C23.921 21.7438 24 21.3466 24 20.9455V3.05455C24 2.65342 23.921 2.25622 23.7675 1.88562C23.614 1.51503 23.389 1.1783 23.1053 0.894656C22.8217 0.611015 22.485 0.386019 22.1144 0.232513C21.7438 0.0790081 21.3466 0 20.9455 0Z"
                                            fill="white" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_1_5982">
                                            <rect width="24" height="24" rx="3" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </a> </li>
                        <li><a href="#" title="Linkedin"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_1_5984)">
                                        <path
                                            d="M21.6 0H2.4C1.08 0 0 1.08 0 2.4V21.6C0 22.92 1.08 24 2.4 24H21.6C22.92 24 24 22.92 24 21.6V2.4C24 1.08 22.92 0 21.6 0ZM7.2 20.4H3.6V9.6H7.2V20.4ZM5.4 7.56C4.2 7.56 3.24 6.6 3.24 5.4C3.24 4.2 4.2 3.24 5.4 3.24C6.6 3.24 7.56 4.2 7.56 5.4C7.56 6.6 6.6 7.56 5.4 7.56ZM20.4 20.4H16.8V14.04C16.8 13.08 15.96 12.24 15 12.24C14.04 12.24 13.2 13.08 13.2 14.04V20.4H9.6V9.6H13.2V11.04C13.8 10.08 15.12 9.36 16.2 9.36C18.48 9.36 20.4 11.28 20.4 13.56V20.4Z"
                                            fill="white" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_1_5984">
                                            <rect width="24" height="24" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </a> </li>
                        <li><a href="#" title="Instagram"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_1_5988)">
                                        <path
                                            d="M14.1094 12.002C14.1094 13.1669 13.1649 14.1113 12 14.1113C10.8351 14.1113 9.89062 13.1669 9.89062 12.002C9.89062 10.837 10.8351 9.89258 12 9.89258C13.1649 9.89258 14.1094 10.837 14.1094 12.002Z"
                                            fill="white" />
                                        <path
                                            d="M15.5625 5.625H8.4375C6.8866 5.625 5.625 6.8866 5.625 8.4375V15.5625C5.625 17.1134 6.8866 18.375 8.4375 18.375H15.5625C17.1134 18.375 18.375 17.1134 18.375 15.5625V8.4375C18.375 6.8866 17.1134 5.625 15.5625 5.625ZM12 15.5156C10.0615 15.5156 8.48438 13.9385 8.48438 12C8.48438 10.0615 10.0615 8.48438 12 8.48438C13.9385 8.48438 15.5156 10.0615 15.5156 12C15.5156 13.9385 13.9385 15.5156 12 15.5156ZM16.0312 8.67188C15.6429 8.67188 15.3281 8.35712 15.3281 7.96875C15.3281 7.58038 15.6429 7.26562 16.0312 7.26562C16.4196 7.26562 16.7344 7.58038 16.7344 7.96875C16.7344 8.35712 16.4196 8.67188 16.0312 8.67188Z"
                                            fill="white" />
                                        <path
                                            d="M17.6719 0H6.32812C2.83887 0 0 2.83887 0 6.32812V17.6719C0 21.1611 2.83887 24 6.32812 24H17.6719C21.1611 24 24 21.1611 24 17.6719V6.32812C24 2.83887 21.1611 0 17.6719 0ZM19.7812 15.5625C19.7812 17.8887 17.8887 19.7812 15.5625 19.7812H8.4375C6.11133 19.7812 4.21875 17.8887 4.21875 15.5625V8.4375C4.21875 6.11133 6.11133 4.21875 8.4375 4.21875H15.5625C17.8887 4.21875 19.7812 6.11133 19.7812 8.4375V15.5625Z"
                                            fill="white" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_1_5988">
                                            <rect width="24" height="24" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </a> </li>
                        <li><a href="#" title="Twitter"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_1_5993)">
                                        <path
                                            d="M14.2339 10.1624L22.9764 0H20.9047L13.3137 8.82384L7.2507 0H0.257812L9.42618 13.3432L0.257812 24H2.3296L10.3459 14.6817L16.7489 24H23.7418L14.2334 10.1624H14.2339ZM11.3963 13.4608L10.4674 12.1321L3.0761 1.55961H6.25825L12.2231 10.0919L13.1521 11.4206L20.9057 22.5113H17.7235L11.3963 13.4613V13.4608Z"
                                            fill="white" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_1_5993">
                                            <rect width="24" height="24" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </a> </li>
                    </ul>

                </div>
                <div class="footer-wrap2">
                    <p class="copyright_text">©Natur Global Capital LTD. All Rights Reserved</p>
                    <ul class="footer-link">
                        <li><a href="#" title="Privacy Policy">Privacy Policy</a> </li>
                        <li><a href="#" title="Terms & Conditions">Terms & Conditions</a> </li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>
</div>