<div class="enpuiry-wrp">
    <div class="col-1">
        <a href="tel:+1 745 458 4523" title="+1 745 458 4523" class="inner-content blue-bg">
            <div class="top_content">
            <h4>Product/Services
                Enquiry</h4>
            <span>+1 745 458 4523</span></div>
            <div class="bottom-content">
                <span>Call Us</span>
                <div class="btn-wrapper">
                    <span mat-stroked-button class="btn  white-outline img-btn" title="View "> <span class=""><img
                                class="before_img" src="../../../assets/images/up_arrow_white.svg" alt=""><img
                                class="after_img" src="../../../assets/images/up_arrow_white.svg" alt="">
                        </span> </span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-1">
        <a href="tel:+1 745 458 4584" title="+1 745 458 4584" class="inner-content blue-bg">
            <div class="top_content">
            <h4>Need additional
                information?</h4>
            <span>+1 745 458 4584</span></div>
            <div class="bottom-content">
                <span>Call Us</span>
                <div class="btn-wrapper">
                    <span mat-stroked-button class="btn  white-outline img-btn" title="View "> <span class="">
                            <img class="before_img" src="../../../assets/images/up_arrow_white.svg" alt=""><img
                                class="after_img" src="../../../assets/images/up_arrow_white.svg" alt="">
                        </span> </span>

                </div>
            </div>
        </a>

    </div>
    <div class="col-2">
        <a href="mailto:support@ngcl.com" title="support@ngcl.com" class="inner-content ivory-bg">
            <div class="top_content">
            <h4>Looking for
                Something else?</h4>
            <span> {{email}}</span></div>
            <div class="bottom-content">
                <span>Write us at</span>
                <div class="btn-wrapper">
                    <span mat-stroked-button class="btn  blue-outline img-btn" title="View "> <span class=""><img
                                class="before_img" src="../../../../assets/images/up_arrow_blue.svg" alt=""><img
                                class="after_img" src="../../../assets/images/up_arrow_blue.svg" alt="">
                        </span> </span>
                </div>
            </div>
        </a>

    </div>

</div>