<div class="auth-content-wrap">
    <div class="top-content">
        <a href="#" title="Natur Global Solutions" class="auth-logo">
            <img src="../../../../../assets/images/nature_global_solutions_logo_dark.svg" alt="">
        </a>
        <a routerLink="/auth/login" title="Forgot Password" class="back-wrap"> <img src="../../../../../assets/images/back_arrow.svg"> <h3>Forgot Password</h3> </a> 
        <p class="sub-content">Enter your registered email address.</p>
        <form action="">
            
            <div class="custom-form-field full-form-field">
                <mat-label>Email ID</mat-label>
                <mat-form-field>
                    <input matInput placeholder="Enter Email ID" value="umangd1998@gmail.com"  [formControl]="email"
                    (blur)="updateErrorMessage()"
                    required >
                    @if (email.invalid) {
                        <mat-error>{{emailerrorMessage}}</mat-error>
                      }
                </mat-form-field>
            </div>
            <div class="btn-wrap">
                <button mat-stroked-button class="btn yellow-bg img-btn btn-full btn-md" title="Submit">
                    Submit
                    <span class="right-arrow">
                        <img src="../../../assets/images/right_arrow.svg">
                    </span>
                </button>
            </div>
        </form>
    </div>
    <div class="bottom-content">
        <div class="btn-wrap">
        <button mat-stroked-button class="btn blue-bg btn-full btn-sm " title="Back to Login" routerLink="/auth/login">            
            <span>
                Back to Login
            </span>
        </button>
    </div>
        <ul class="bottom_link">
            <li><a href="#" title="Privacy Policy">Privacy Policy</a> </li>
            <li><a href="#" title="Terms & Conditions">Terms & Conditions</a> </li>
        </ul>
    </div>
</div>