<div class="auth-content-wrap">
    <div class="top-content">
        <a href="#" title="Natur Global Solutions" class="auth-logo">
            <img src="../../../../../assets/images/nature_global_solutions_logo_dark.svg" alt="">
        </a>
        <div class="img-wrap">
            <img src="../../../../../assets/images/email_box.svg" alt="">
        </div>
        <h3> <span>Password reset </span><span>
            Link Sent</span></h3>
        <p class="sub-content">We have sent password reset link on your 
            registered email address</p>
        <form action="">
            <div class="btn-wrap">
                <button mat-stroked-button class="btn yellow-bg img-btn btn-full btn-md " title="Back to Login" routerLink="/auth/login">
                    Back to Login
                    <span class="right-arrow">
                        <img src="../../../assets/images/right_arrow.svg">
                    </span>
                </button>
            </div>
        </form>
        
    </div>
    <div class="bottom-content">
        <ul class="bottom_link">
            <li><a href="#" title="Privacy Policy">Privacy Policy</a> </li>
            <li><a href="#" title="Terms & Conditions">Terms & Conditions</a> </li>
        </ul>
    </div>
</div>