<!-- <div class="product">
    <div class="product-img">
        <img src="../../../assets/images/product-img.jpg" alt="Product"/>
    </div>
    <div class="product-content">
        <h5>Fiscal Cash Registers</h5>
        <p>Fiscal cash registers are specialized electronic devices used by businesses to record sales transactions and generate fiscal receipts for customers. These cash registers are equipped with features that enable them to comply with tax laws.</p>
        <button mat-stroked-button class="btn  blue-bg btn-md img-btn" title="View Products">
            View Products 
            <span class="up-arrow">
                <img src="../../../assets/images/up_arrow_blue.svg" alt="Up Arrow Blue">
            </span> 
        </button>
    </div>
</div> -->
<div class="product-card">
    <div class="product-card-imgae">
        <a href="#" title="Fiscal Cash Registers "> <img src="../../../assets/images/product-img.jpg" alt="Product" /></a>
    </div>
    <div class="product-card-content">
        <a href="#" title="Fiscal Cash Registers">
            <h5>Fiscal Cash Registers <span class="right-arrow"><img src="../../../../assets/images/right_arrow.svg">
                </span> </h5>
        </a>
        <p>Fiscal cash registers are specialized electronic devices used by businesses to record sales transactions and
            generate fiscal receipts for customers. These cash registers are equipped with features that enable them to
            comply with tax laws.</p>
        <div class="btn-wrapper">
            <button mat-stroked-button class="btn  blue-bg btn-md img-btn btn-full" title="View Products">View
                Products<span class="up-arrow"><img src="../../../../assets/images/up_arrow_blue.svg" alt="">
                </span> </button>
        </div>
    </div>
</div>